// Project specific mixins
xs()
	@media (max-width: 767px)
		{block}

sm()
	@media (min-width: 768px)
		{block}

md()
	@media (min-width: 992px)
		{block}

lg()
	@media (min-width: 1200px)
		{block}

xl()
	@media (min-width: 1920px)
		{block}
